<div class="container">
	<div class="row">    
		<div class="col-sm-3">
				<img src="http://i.imgur.com/IWaPaC0.jpg" class="img-responsive img-circle" width="200px"/>
				<div class= "container-fluid" id="user_info">
				<h2>Hi, <%= @current_user.username %></h2>
				<h5>Member since:<br> <%= localize(@current_user.created_at, :format => '%m/%d/%Y') %></h5> 
				<% @current_user.posts.each do |p| %>
					<% post_city = p.city.name %>
					<% if !@city_list.include? @temp_city[post_city] %>
							<% @temp_city[post_city] = {"#{post_city}" => 1} %>
							<% p "goodbed" %>
							<% p @temp_city %>
							<% @city_list.push(@temp_city[post_city]) %>
					<% else %>
							<% index = @city_list.index @temp_city[post_city] %>
							<% p @city_list[index][post_city] += 1 %>
					<% end%>
					<% end %>
					<% @city_list.each  do |city| %>
					<% city.each do |key, val| %>
						<% if val > 2 %>
							<%	p_str = "posts" %>
							<% else %>
							<%  p_str = "post"	 %>
							<% end%>
						<span><%= "#{key}: #{val} #{p_str}" %></span><br>
					<% end %>
					<% end %>

				<% if @current_user.id == session[:user_id] %>
				 <%= link_to "Edit", edit_user_path(@current_user), class: "btn btn-success" %> 
				<% end %>
			</div> 

		</div>
			<div class="col-sm-8">
				<% @current_user.posts.each do |post| %>
					<div class="well col-xs-12" id="post">
					<%= link_to post_path(post) do  %>
					<h3><%= post.title %></h3>
					<% end %>
						<p><%= post.body %></p>
						<p>Author: <%=@current_user.username  %></p>
						<p>City: <%= post.city.name %></p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>