<div class="container">
	<div class="row">    
		<div class="col-sm-4">
			
			<div>
				<h2>Hi, <%= @current_user.username %></h2>
				<%= link_to "Edit", edit_user_path(@current_user), class: "btn btn-primary" %> 
			</div> 
		</div>
			<div class="col-sm-8">
				<% @current_user.posts.each do |post| %>
					<div class="well col-xs-12">
						<h3><%= post.title %></h3> 
						<p><%= post.body %></p>
						<%= link_to "Edit", edit_post_path(post), class: "btn btn-primary" %> 
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>