<div class=" well col-sm-9 col-sm-offset-1" id="post">
	
	<h1><%= @post.title %></h1>
	<hr>
	<p>
		<%= @post.body %>
		<br><br>
		Author: <%= @post.user.username %>
		<!-- Author: <%= User.find(@post.user_id).username %> -->
		<br>	
		<!-- City: <%= City.find(@post.city_id).name %> -->
		City: <%= @post.city.name %>
	</p>

	<%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %> 
	<%= link_to "Delete", post_path, method: :delete, class: "btn btn-primary", data:{confirm: "#{@post.user.username}, are you sure you to delete this post: #{@post.title}?"} %> 


</div>
