<div>
	<h1>
		Welcome to <%= @city.name %>, <%= @city.country%>
	</h1>
	<%= link_to "New Post", new_post_path, class:"btn btn-primary"%>
	<br>


</div>

<div>
	<img src = <%= @city.img_url %> width: 50%>
</div>	



<div class="col-sm-8">
	<% @city.posts.each do |post| %>
	<div class="well col-xs-12">
		<%= link_to post_path(post) do  %>
		<h3><%= post.title %></h3>
		<% end %>
		<p><%= post.body %></p>

		
		<p>Author: <%=post.user.username  %></p>
		
	</div>
	<% end %>

</div>



