<div>
	<h1>
		Welcome to <%= @city.name %>, <%= @city.country%>
	</h1>
	<% if current_user%>
	<%= link_to "New Post", new_post_path, class:"btn btn-primary"%>
	<% end %>
	<br>


</div>

<div>
	<img src = <%= @city.img_url %> />
</div>	


<div class="col-sm-8">
	<% @city.posts.each do |post| %>
	<div class="well col-xs-12">
		<%= link_to post_path(post) do  %>
		<h3><%= post.title %></h3>
		<% end %>
		<p><%= post.body %></p>
		<%= link_to user_path(post.user) do %>
		<p>Author: <%=post.user.username  %></p>
		<% end %>
		
	</div>
	<% end %>

</div>



